{% extends 'base.html' %}
{% block content %}

<div class="container" id="single">
    <h1>Appointment</h1>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Contact Info</span>
                    <p>{{ appointment.name }}
                    <p>{{ appointment.email }}
                    <p>{{ appointment.phone }}</p>
                    <hr />
                    <span class="card-title">Job Info</span>
                    <p>{{ appointment.address }}</p>
                    <p>{{ appointment.building_type }}</p>
                    <p>{{ appointment.description }}</p>
                    <p>{{ appointment. }}</p>
                    <p>Submitted on: {{ appointment.date_created }}</p>
                    <br />
                    <span class="right">
                        <a href="{% url 'edit_appointment' appointment.id %}" class="btn black-text">Edit</a>
                        <a href="{% url 'delete_appointment' appointment.id %}" class="btn black-text">Delete</a>
                    </span>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}