{% extends 'base.html' %}
{% block content %}

<h1>Edit Inquiry</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Update</button>
</form>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'mm/dd/yy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    }); 

    const selectEl = document.getElementById('id_building_type');
    M.FormSelect.init(id_building_type);
</script>

{% endblock %}