{% extends 'base.html' %}
{% block content %}

<div class="container inquiry">
    <h1>Create An Inquiry</h1>
    <form action="{% url 'add_appointment' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn black-text" type="submit">Submit</button>
    </form>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'mm/dd/yy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    }); 

    const selectEl = document.getElementById('id_building_type');
    M.FormSelect.init(id_building_type);
</script>

{% endblock %}