<p>{{ subject }}</p>
<br />
<p>{{ address }}</p>
<p>{{ building_type }}</p>
<p>{{ description }}</p>
<br />
{% comment %} <p><a href="">Edit inquiry</a></p> {% endcomment %}
<p>Thank you,</p>
<br />
<p>Name</p>
<p>Owner</p>
<p>ISRAEL ELECTRIC</p>
<p>Phone Number: (760) 662-1909</p>
<p>Email: israelelectrical@gmail.com</p>
<p><a href="">israelelectrical.com</a></p>
{% comment %} <p>Click <a href="localhost:8000/{% url 'edit_appointment' appointment.id %}">here</a> to edit</p> {% endcomment %}
{% comment %} <p>Click <a href="localhost:8000/{% url 'delete_appointment' appointment.id %}">here</a> to delete</p> {% endcomment %}