{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Main CSS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen,projection">
    {% comment %} Materialize CSS {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
    <link rel="icon" href="static/images/sot_icon1.png">
    {% comment %} Material Icons {% endcomment %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% comment %} Materialize JS {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% comment %} Fontawesome {% endcomment %}
    <script src="https://kit.fontawesome.com/3bf44e2d43.js" crossorigin="anonymous"></script>
    <title>Sons of Thunder Electrical</title>
</head>
<body>
{% comment %} NAVBAR {% endcomment %}
    <nav class="black">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/#about">About</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'index' %}">Appointments</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            </ul>

            <ul class="sidenav" id="mobile-demo">
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#services">Services</a></li>
                    <li><a href="/#contact">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Appointments</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
            <a href="#" data-target="mobile-demo" class="right sidenav-trigger" id=""><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer grey darken-1">
        <div class="right">All Rights Reserved, &copy; 2020 Sons of Thunder&nbsp; by Onias Israel</div>
    </footer>

    <script>
        const mobileEl = document.getElementById('mobile-demo');
        M.Sidenav.init(mobileEl);
    </script>
</body>
</html>