{% extends 'base.html' %}
{% load static %}
{% block content %}

{% comment %} INTRO {% endcomment %}
<section id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center amber-text accent-3">Sons of Thunder Electrical</h1>
            <div class="row center">
                <h5 class="header col s12 light">Proud to provide high quality and reliable electrical services you can trust!</h5>
            </div>
            <div class="row center">
                <a href="{% url 'add_appointment' %}" id="download-button" class="btn-large waves-effect waves-light" id="">Submit Inquiry</a>
            </div>
            <br><br>
        </div>
    <div class="parallax" id="parallax" style=""><img class="responsive-img" src="static/images/elecbg1.jpeg" alt="bg 1"></div>
    </div>
</section>

{% comment %} ABOUT {% endcomment %}
<section class="about container" id="about">
    <h2 class="center about-head">About</h2>
    <div class="row">
        <div class="col s12 m6">
            <img class="" src="static/images/sot_icon1.png" alt="icon" width="200px">
            <h5>Efrain De Leon</h5>
            <p>OWNER</p>
        </div>
        <div class="col s12 m6">
            <p>At Sons of Thunder Electrical, our mission is to provide the community with the best electrical services that will satisfy the needs and expectations of all our customers. With 20+ years of electrical experience, owner Efrain De Leon takes pride in giving nothing less than the best services around!</p>
        </div>
    </div>
</section>

<section class="parallax-container valign-wrapper" id="index-banner">
    <div class="parallax" id="parallax2"><img class="responsive-img" src="static/images/elecbg3.jpeg" style="translate3d(-50%, 318.67px, 0px); opacity: 1;" alt="bg 3"></div>
</section>

{% comment %} SERVICES {% endcomment %}
<section class="services container" id="services">
    <h2 class="center services-head">Services</h2>
        <div class="row center">
            <div class="col s4">
                <div>
                    <h2><i class="medium material-icons amber-text accent-3">home</i></h2>
                    <h5>RESIDENTIAL</h5>
                </div>
            </div>
            <div class="col s4">
                <div>
                    <h2><i class="medium material-icons amber-text accent-3">store</i></h2>
                    <h5>COMMERCIAL</h5>
                </div>
            </div>
            <div class="col s4">
                <div>
                    <h2><i class="medium material-icons amber-text accent-3">business</i></h2>
                    <h5>INDUSTRIAL</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">  
                <ul class="elec-services">
                    <li>Complete Remodeling</li>
                    <li>Electrical Wiring</li>
                    <li>House Rewiring</li>
                    <li>Lighting Installation</li>
                    <li>Maintenance</li>
                    <li>New Construction</li>
                    <li>Outlets and Switches</li>
                    <li>Panel Upgrades</li>
                    <li>Repairs</li>
                    <li>Surge Protection</li>
                    <li>Underground Electrical Trenching</li>
                    <li>And Much More...</li>
                </ul>
            </div>
            <div class="col s12 m8 center">
                <img class="carousel-item ser-img" src="static/images/panel_after.jpeg" alt="" width="500px" height="500px">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 center">
                <img class="carousel-item ser-img2" src="static/images/remodel_after.jpeg" alt="" width="500px" height="500px">
            </div>
            <div class="col s12 m4">  
                <ul class="elec-services">
                    <li>Complete Remodeling</li>
                    <li>Electrical Wiring</li>
                    <li>House Rewiring</li>
                    <li>Lighting Installation</li>
                    <li>Maintenance</li>
                    <li>New Construction</li>
                    <li>Outlets and Switches</li>
                    <li>Panel Upgrades</li>
                    <li>Repairs</li>
                    <li>Surge Protection</li>
                    <li>Underground Electrical Trenching</li>
                    <li>And Much More...</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">  
                <ul class="elec-services">
                    <li>Complete Remodeling</li>
                    <li>Electrical Wiring</li>
                    <li>House Rewiring</li>
                    <li>Lighting Installation</li>
                    <li>Maintenance</li>
                    <li>New Construction</li>
                    <li>Outlets and Switches</li>
                    <li>Panel Upgrades</li>
                    <li>Repairs</li>
                    <li>Surge Protection</li>
                    <li>Underground Electrical Trenching</li>
                    <li>And Much More...</li>
                </ul>
            </div>
            <div class="col s12 m8 center">
                <img class="carousel-item ser-img" src="static/images/trenching.jpeg" alt="" width="500px" height="500px">
            </div>
            <br>
            <span class="right">Need electrical services? Click <a href="{% url 'add_appointment' %}" class="amber-text accent-3 here">here</a></span>
        </div>
</section>

{% comment %} CONTACT {% endcomment %}
<section class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="contact container" id="contact">
            <h2 class="center contact-head">Contact Us</h2>
            <div>
                <p>Phone Number <span class="bold">(760) 662-1909</span></p>
                <p>Email <a href="" target="_blank" class="email">sonsofthundereletrical@gmail.com</a></p>
                <p>Social Media
                    <span class="social-media">
                        <a href=""><i class="small fab fa-facebook"></i></a>
                        <a href=""><i class="small fab fa-instagram"></i></a>
                        <a href=""><i class="small fab fa-linkedin-in"></i></a>
                        <a href=""><i class="small fab fa-twitter"></i></a>
                    </span>
                </p>
            </div>
            <div class="center">
                <h6>Areas of Services</h6>
                <p>Fontana | Ontario | Rancho Cucamango | Riverside | San Bernandino</p>
            </div>
        </div>
    </div>
    <div class="parallax" id="parallax3"><img class="responsive-img" src="static/images/elecbg2.jpeg" style="translate3d(-50%, 318.67px, 0px); opacity: 1;" alt="bg 2"></div>
</section>

<button onclick="topFunction()" class="material-icons" id="myBtn" title="Go to top">keyboard_arrow_up</button>

<script>
    {% comment %} PARALLAX {% endcomment %}
    const paraEl = document.getElementById('parallax');
    M.Parallax.init(paraEl);

    const para2El = document.getElementById('parallax2');
    M.Parallax.init(para2El);
    
    const para3El = document.getElementById('parallax3');
    M.Parallax.init(para3El);

    {% comment %} CAROUSEL {% endcomment %}
    const carEl = document.getElementById('carousel');
    M.Carousel.init(carEl, {
        duration: 150,
        fullWidth: true,
        indicators: true,
    });

    {% comment %} setInterval(() => {
        carInit(carEl[0]).next();
    }, 3000); {% endcomment %}

    {% comment %} TOP BUTTON {% endcomment %}
    const mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}