{% extends 'base.html' %}
{% block content %}

<section class="about" id="about">
    <h2 class="center">About</h2>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <img src="media/images/sot_icon1.png" alt="icon">
                </div>
            </div>
        </div>
        <div class="col s6">
            <h4>Sons of Thunder</h4>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
    </div>
    <hr />
</section>
<section class="services" id="services">
    <h2 class="center">Services</h2>
        <div class="row center">
            <div class="col s4">
                <p>RESIDENTIAL</p>
            </div>
            <div class="col s4">
                <p>COMMERCIAL</p>
            </div>
            <div class="col s4">
                <p>INDUSTRIAL</p>
            </div>
        </div>
        <ul class="elec-services">
            <li>Complete Remodeling</li>
            <li>Electrical Wiring</li>
            <li>House Rewiring</li>
            <li>Lighting Installation</li>
            <li>Maintenance</li>
            <li>New Construction</li>
            <li>Outlets and Switches</li>
            <li>Panel Upgrades</li>
            <li>Repairs</li>
            <li>Surge Protection</li>
            <li>Underground Electrical Trenching</li>
            <li>And Much More...</li>
        </ul>
        <span class="right">Need electrical work done? Click <a href="{% url 'add_appointment' %}">here</a></span>
        <br />
        <div class="row">
            <div class="col s6">
                <img src="" alt="">
            </div>
            <div class="col s6">
                <img src="" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <img src="" alt="">
            </div>
            <div class="col s6">
                <img src="" alt="">
            </div>
        </div>
        <hr />
</section>
<section class="contact" id="contact">
    <h2 class="center">Contact Us</h2>
    <div class="row">
        <div class="col s6">
            <div>
                <h5>PHONE NUMBER</h5>
                <p>+1 (760) 662-1909</p>
                <h5>EMAIL</h5>
                <p><a href="" target="_blank">sonsofthundereletric@gmail.com</a></p>
                <h5>HOURS OF OPERATION</h5>
                <p>Monday - Friday: 8am - 5pm</p>
                <h5>SOCIAL MEDIA</h5>
                <div class="social-media">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="center">
                <img src="media/images/ie_map.jpg" alt="map" width="400px" height="" />
                <h6>Areas of Services</h6>
                <p>Fontana | Ontario | Rancho Cucamango | Riverside | San Bernandino</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}